<html>
    <head>
    </head>
    <body>
        <h1>Liste des machines</h1>
               <p>Machine : </p>
               {% for row in tableau %}
                     <p style="padding-left:20px">- {{ row }}</p> 
               {% endfor %}
    </body>
</html>

